@use "./util/colors" as color;

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 15px;
   background-color: color.$veryPaleBlue;
   min-height: 100vh;
   &::-webkit-scrollbar {
      width: 8px;
   }
   &::-webkit-scrollbar-track {
      background: white;
   }
   &::-webkit-scrollbar-thumb {
      background-color: #d7d7df;
      border-radius: 20px;
   }
}

.pattern-bg {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 50vh;
   background-image: url("/images/bg-pattern.svg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: -1;
}